// Quicksand Import
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@font-face {
  font-family: 'GillSans';
  src: url('~assets/fonts/GillSans.otf') format('opentype');
}

@font-face {
  font-family: 'GillSansLight';
  src: url('~assets/fonts/GillSansLight.otf') format('opentype');
}

@font-face {
  font-family: 'GillSansBold';
  font-weight: 300;
  src: url('~assets/fonts/GillSansBold.otf') format('opentype');
}

@font-face {
  font-family: 'GillSansMedium';
  src: url('~assets/fonts/GillSansMedium.otf') format('opentype');
}


// bootstrap default overrides before importing bootstrap
$font-family-sans-serif: 'GillSans';

a {
  color: #593f4c !important;
}

$spacer: 1rem;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
