// Quicksand Import
// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@font-face {
  font-family: 'GillSans';
  src: url('~assets/fonts/GillSans.otf') format('opentype');
}

@font-face {
  font-family: 'GillSansLight';
  src: url('~assets/fonts/GillSansLight.otf') format('opentype');
}

@font-face {
  font-family: 'GillSansBold';
  font-weight: 300;
  src: url('~assets/fonts/GillSansBold.otf') format('opentype');
}

@font-face {
  font-family: 'GillSansMedium';
  src: url('~assets/fonts/GillSansMedium.otf') format('opentype');
}

@font-face {
  font-family: 'GillSansNewBold';
  src: url('~assets/fonts/GillSansNewBold.ttf') format('truetype');
}

@font-face {
  font-family: 'GillSansNewLight';
  src: url('~assets/fonts/GillSansNewLight.ttf') format('truetype');
}

@font-face {
  font-family: 'GillSansNewMedium';
  src: url('~assets/fonts/GillSansNewMedium.ttf') format('truetype');
}

// bootstrap default overrides before importing bootstrap
$font-family-sans-serif: 'GillSans';

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%
) !default;

a {
  color: #593f4c !important;
}

$spacer: 1rem;

$dark: rgb(221, 212, 210);

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

.medium-font {
  // font-family: var(--font-family-sans-medium) !important;
  font-family: 'GillSansNewMedium';
}

.bold-font {
  // font-family: var(--font-family-sans-medium) !important;
  font-family: 'GillSansNewBold';
}

.light-font {
  // font-family: var(--font-family-sans-medium) !important;
  font-family: 'GillSansNewLight';
}

.max-width-70 {
  max-width: 70% !important;
}

.letter-spacing-0 {
  letter-spacing: 0;
}

.letter-spacing-more {
  letter-spacing: 1px;
}

.letter-spacing-less {
  letter-spacing: -0.3px;
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  border-bottom: 0;
  border-radius: 0;
}

.breadcrumb {
  background: transparent;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.card {
  border-radius: 0;
}

.color-headings {
  color: #e5dfdd;
}

.color-yellow-golden {
  color: #e3c85d;
}

.btn {
  border-radius: 0;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    border: none;
  }
}

#modal-ns {
  transform: translateY(-27%);
  height: 2000px;
  overflow: scroll;
}

.golden-border-thick {
  border: 3px solid #e3c85d;
}

.golden-border {
  border: 1px solid #e3c85d;
}

.modal-content {
  border: none;
  padding-left: 20%;
}

.modal-body {
  padding: 0;
}

@media (max-width: 571px) {
  .modal-content {
    padding-left: 0;
  }
  .modal-header {
    margin-top: 20%;
  }
}

@media (max-width: 531px) {
  .modal-header {
    margin-top: 15% !important;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '|';
}

.header-content {
  text-align: center;
  width: 100%;
}

.container {
  padding-top: 1.75rem;
  box-sizing: border-box;
  min-height: calc(100% - 72px - 216px);
}

.image-sep {
  border: 0;
  background: #a5831d;
  margin-top: 45px !important;
  height: 8px;
}

@media (max-width: 766px) {
  .header-content {
    margin-top: 0;
  }
  .image-sep {
    height: 3.5px;
  }
  .margin-top {
    margin-top: 45px !important;
  }
}

@media (max-width: 1203px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 993px) {
  .image-sep {
    margin-top: 5px !important;
  }
  .margin-top {
    margin-top: 60px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
  }
}

@media (max-width: 541px) {
  .margin-top {
    margin-top: 30px !important;
  }
}

@media (max-width: 472px) {
  .container {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}