:root {
  --font-family-sans: 'GillSans';
  --font-family-sans-thin: 'GillSansLight';
  --font-family-sans-bold: 'GillSansBold';
  --font-family-sans-medium: 'GillSansMedium';

  --color-black: #202123;
  --color-dark-gray: #5f4142;
  --color-gray: #717174;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #ae5f87;
  --color-background: #d6c9c9;
  --color-golden: #a5831d;
  --color-golden-2: #b29029;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title4-size: calc(17 / var(--unit) * 1rem); /* 21px */
  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(33 / var(--unit) * 1rem); /* 27px */
  --font-title2-line-height: calc(39 / 24); /* 39px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */

  --font-logo-size: calc(94 / var(--unit) * 1rem); /* 67px */

  /* Widths */
  --width-x-small: 20em;
  --width-small: 40em;
  --width-medium: 60em;
  --width-large: 80em;
  --width-x-large: 100em;
}

.btn {
  padding-top: 10px;
}

.btn:hover {
  padding-top: 10px;
}